*{
    margin: 0;
}

body{
    background: lightblue;
}

img{
    width: 100%;
}

footer{
    align-items: center;
    background-color: black;
    color: white;
    display: flex;
    height: 60px;
    justify-content: center;
}

marquee{
    font-size: 100px;
}

nav{
    align-items: center;
    background-color: black;
    display: flex;
    height: 80px;
    justify-content: space-around;
}

nav a{
    color: whitesmoke;
    font-size: 14pt;
    text-decoration: none;
}


